@model App.ViewModels.StudentListViewModel

<h2>Öğrenci Listesi</h2>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Adı</th>
            <th>Soyadı</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var student in Model.Students)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.FirstName</td>
                <td>@student.LastName</td>
            </tr>
        }
    </tbody>
</table>
